<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Honda</title>

    <link rel="stylesheet" href="../src/css/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <img src="../src/images/logo_honda.png" alt="Logo honda" />
            <ul>
                <li>
                    <a href="#">Especificações</a>
                </li>
                <li>
                    <a href="#">Adquira já a sua</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="container-images">
                <img src="../src/images/background-modelo.png" alt="Modelo da moto em destaque" class="background" />
                <img src="../src/images/cb_twister_vermelha.png" alt="Moto modelo CB Twister" class="moto-demo" />
            </div>
            <section class="especificacoes">
                <div>
                    <h3>Segurança</h3>
                    <ul>
                        <li>Suspensão dianteira</li>
                        <li>Freio ABS</li>
                    </ul>
                </div>
                <div>
                    <h3>Tecnologia</h3>
                    <ul>
                        <li>6 Marchas</li>
                        <li>Motor 250 Cilindradas</li>
                        <li>FlexOne (Etanol/Gasolina)</li>
                    </ul>
                </div>
                <div>
                    <h3>Capacidade</h3>
                    <ul>
                        <li>Tanque de 16,5 Litros</li>
                        <li>Óleo Motor 1,8 Litros</li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
</body>
</html>